doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //- loading skyflow-js
    script(src='https://js.skyflow.com/v1/index.js')
    title Home Page
  body
    include skyflow
    button(style='width:100px; margin-top:20px' onclick='proceedPayment()') COllect